mixin comment(comment)
    div.video__comment-container
            div.video__comment-avatar 
                if comment.owner.avatarUrl === ""
                    span 😀
                else
                    img(src=comment.owner.avatarUrl, crossorigin)
            div.video__comment-data
                div.video__comment-header
                    span #{comment.name}
                    span #{comment.createdAt.getFullYear()}. #{comment.createdAt.getMonth()}. #{comment.createdAt.getDate()}
                div.video__comment-text
                    p #{comment.text}
                div
            if String(comment.owner._id) === String(loggedInUser._id)
                div.video__comment-delete
                    a(href=`/api/comments/${comment._id}/delete`).delete-btn 삭제