extends base.pug
include mixins/comment

block content
    div#videoContainer(data-id=video._id)
        video(src=video.fileUrl, crossorigin)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  /  
                    span#totalTime 00:00
            input(type="range", step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range", step="0.1", value="0.5", min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand
    
    div.video__data
        div.video__hashtags
            each hashtag in video.hashtags
                span=hashtag
        p.video__title=video.title
        div.video__meta
            span 조회수 #{video.meta.views}회 • 
            span=new Date(video.createdAt).toISOString().substr(0,10)
    div.video__owner
        div.video__owner-data
            a(href=`/users/${video.owner._id}`)
                img.video__owner-avatar(src=video.owner.avatarUrl, crossorigin)
                span=video.owner.name
        div.video__owner-plus
            if String(video.owner._id)===String(loggedInUser._id)
                a(href=`${video.id}/edit`)
                    button 수정
                a(href=`${video.id}/delete`)
                    button 삭제
            else
                button#subscribeBtn 구독

    
    if loggedIn
        div.video__add-comment
            form.video__add-comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="댓글 추가...")
                button 입력

    div.video__comments
        h3 댓글
        ul
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment._id)
                    +comment(comment)
            else
                span.empty__message 댓글이 없습니다.


block scripts
    script(src="/static/js/videoPlayer.js")
    if(loggedIn)
        script(src="/static/js/commentSection.js")